/*_____________________________________________________________Format de texte
=============================================================================*/
h1{
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow: 
  0px 1px 2px grey,
  0px 2px 2px grey,
  0px 1px 9px #004f7d;
  font-family: 'Staatliches', cursive;
  font-weight: 900;
  font-size: 23pt;
  text-align:center;
}
h2{
  color: #ffffff;
  line-height: 22px;
  text-shadow:
  0px 1px 1px #000000,
  0px -1px 2px #000000,
  0px 0px 2px #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15pt;
  text-align:left;
}
p{
  font-family: 'Lato', sans-serif;
  color: #c2c2c2;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.8;
  text-align: justify;
}

th p{
  border-radius: 5px;
  font-size: 15px;
  text-shadow:
  -1px -1px 1px #000000,
  1px 1px 1px #000000,
  0px 0px 2px #000000,
  0px 0px 3px #000000,
  0px 0px 4px #000000,
  0px 0px 5px #000000,
  0px 0px 6px #000000,
  0px 0px 5px #000000;
  text-align: center;
}
/*Formate la zone de texte à l'intérieur des cartes.
=============================================*/
.cardtxt{
  padding-left: 2px;
  padding-right: 2px;
  border: 3px dotted #2D3947;
  border-radius: 10px;
  font-size: 12pt;
  text-align: left;
  text-indent: 0px;
}
.aside{
  text-indent: 5px;
  font-style: italic;
  font-weight: normal;
  text-align: justify;
  line-height: 1.2;
  color: grey;
}

/*wooop woop! adapt'la taille de la police!
===========================================*/
@media screen and (max-width: 768px) {
h1{
  font-size: 19pt;
    text-shadow:none;
}
h2{
  font-size: 14pt;
}
 p{
  font-size: 14px;
 }
 th p{
  font-size: 13px;
  text-align: center;
}
/*retrait d'elements ciblés pour format mobile
=============================================*/
 .wide{
  display:none
  }
}
/*retrait d'elements ciblés pour format wide
============================================*/
@media screen and (min-width: 768px) {
  .smol{
    display:none ;
  }
}
/*_______________________________________________________________Tweaks Bulma
=============================================================================*/
html{
  background-image: url("https://i.imgur.com/7Lb7ltn.png");
  scroll-behavior: smooth;
}
.box{
  background-color: rgba(250, 250, 250, 0);
}
.boxblur{
  background-color: rgba(250, 250, 250, 0);
  backdrop-filter: blur(2px);
}
/*___________________________________________________espaces utiles et ornements
==============================================================================*/

/*Espaces
============================================*/
.genspace2{
  height: 10px;
}
.genspace1{
  height: 30px;
}

.barspace{
  height: 1px;
  box-shadow:
    0px 1px 2px grey,
    0px 3px 11px grey,
    0px 1px 1px #004f7d;
    margin-top: 3px;
    margin-bottom: 20px;
}
.lightbar{
  height: 1px;
  border-top: 1px dotted rgba(100, 100, 100, 0.2);
  background-color: rgba(100, 100, 100, 0);
  margin-top: 5px;.7
  margin-bottom: 10px ;
  margin-bottom: 2px;
}

.devspace{
  height: 3000px;
}

/*_____________________________________________________________Formats d'images
==============================================================================*/
#tophead{
  margin-top: 35vh;
}

#profilpic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:75px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*______________________________________________________________FormatContainers
==============================================================================*/

/*Format du menu de navigation
============================================*/
#pillbox_l{
  border-top-left-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  height: 30px;
}

#pillbox_r{
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  height: 30px;
}

#pillbox{
  height: 30px;
}

a#pillbox h2,a#pillbox_l h2,a#pillbox_r h2{
  font-family: 'Staatliches', cursive;
  position: relative;
  bottom: 12px;
  text-align: center;
}



/*Format Mobile*/
@media screen and (max-width: 768px) {
  .table{
    background-color: #181818;
  }
  .card{
      padding: 10px;
      border-top:solid 1px rgba(250,250,250,0.1);
      background-image: url(https://i.imgur.com/oned5R3.png);
      border-radius: 6px;
  }

  .board{
    padding: 20px;
    border-radius: 15px;
     background-color: #1F1F1F;
  }

  #charapresent1{
     display: block;
     margin-left: auto;
     margin-right:auto;
  }

}

/*Format Wide*/
@media screen and (min-width: 768px) {

  .card{
    padding: 10px;
    border-top:solid 1px rgba(250,250,250,0.1);
    background-image: url(https://i.imgur.com/WwoeoZm.png);
    box-shadow:
    0px 0px 0px rgb(250 250 250 / 30%),
    0px 2px 1px rgb(0 0 0 / 30%);
    border-radius: 6px;
  }

  /*Carte semi opaque. Informations génerales.
  =============================================*/
  .board{
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(
    360deg, rgba(50, 50, 50, 0.1) 0%, rgba(100, 100, 100, 0.1) 100%);
    backdrop-filter: blur(4px);
  }

.table{
    padding: 20px;
    border-radius:8px;
    background: linear-gradient(360deg, rgba(50, 50, 50, 0.1) 0%, rgba(100, 100, 100, 0.1) 100%);
    backdrop-filter: blur(4px);
    box-shadow: 0px 12px 12px #090909;
  } 


    #charapresent1{
       position: absolute;
       transform: translate(-20%, -10%);
  }

}


/*Sticky navbar - 100% sticky
============================================*/
#stickynav {
  background-image: url("https://i.imgur.com/7Lb7ltn.png");
  backdrop-filter: blur(3px);
  position: sticky;
  z-index: 10;
  top: 0;
}


/*__classes d'index, TextesCouleurs etiquettes
============================================*/

/*mobile*/
@media screen and (max-width: 768px) {

  .skill{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    background-color: #FFBA00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }
  .state{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    background-color: #1D00CA;
    color: white;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }
  .trouble{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    background-color: rgba(0,132,229,0.9);
    color: #FFBDBD;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }

  .gear{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    background-color: #A700FE;
    color: white;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }
  .rule{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    background-color: rgba(209, 17, 73,0.9);
    color: white;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }
  .chara{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    background-color: #ADF500;
    color: white;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  }


}

/*Wide*/
@media screen and (min-width: 768px) {

  .skill{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-shadow:
    0px 0px 2px #000000,
    0px 0px 3px #000000,
    0px 0px 4px #000000;
    border-radius: 2px;
    box-shadow:
    1px 1px 2px #FFBA00;
    -1px -1px 2px #FFBA00;
    background-color: #D9AE3B;
    color: white;
  }
  .state{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-shadow:
    0px 0px 2px #000000,
    0px 0px 3px #000000,
    0px 0px 4px #000000;
    border-radius: 2px;
    box-shadow:
    1px 1px 2px #004EFF,
    -1px -1px 2px #004EFF;
    background-color: #4A6AB2;
    color: white;
  }
  .trouble{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-shadow:
    0px 0px 2px #FF0000,
    0px 0px 3px #FF0000,
    0px 0px 4px #FF0000;
    border-radius: 2px;
    box-shadow:
    1px 1px 2px  #004EFF,
    -1px -1px 2px  #004EFF;
    background-color:  #4A6AB2;
    color: white;
  }

  .gear{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-shadow:
    0px 0px 2px #000000,
    0px 0px 3px #000000,
    0px 0px 4px #000000;
    border-radius: 2px;
    box-shadow:
    1px 1px 2px #A700FE,
    -1px -1px 2px #A700FE;
    background-color: #9A40C9;
    color: white;
  }
  .rule{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-shadow:
    0px 0px 2px #000000,
    0px 0px 3px #000000,
    0px 0px 4px #000000;
    border-radius: 2px;
    box-shadow:
    1px 1px 2px rgba(209, 17, 73,0.9),
    -1px -1px 2px rgba(209, 17, 73,0.9);
    background-color: rgba(209, 17, 73,0.9);
    color: white;
  }
  .chara{
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-shadow:
    0px 0px 2px #000000,
    0px 0px 3px #000000,
    0px 0px 4px #000000;
    border-radius: 2px;
    box-shadow:
    1px 1px 2px #B3FF00,
    -1px -1px 2px #B3FF00;
    background-color: #96C32C;
    color: white;
  }

}






.lightskill{
  color: #FFBA00;
}
.lightstate{
  color:  rgba(0,132,229,0.9);s
}
.lighttrouble{
  color: #C90000;
}

.lightgear{
  color: #A700FE
}
.lightrule{
  color: rgba(209, 17, 73,1);
}
.lightchara{
  color: #ADF500;
}


.kitchen{
  background-color: #03fc0f;
}
/*___________________________________________________________Classes de thèmes
==============================================================================*/
.charahead{
  background-image: url(https://i.imgur.com/vqPSUIW.png);
}
.skillhead{
  background-image: url(https://i.imgur.com/55sclmk.png);
}
.statehead{
  background-image: url(https://i.imgur.com/xCAj2nu.png);
}
.gearhead{
  background-image: url(https://i.imgur.com/A1Ql8Nl.png);
}
.rulehead{
  background-image: url(https://i.imgur.com/Ruod9C0.png);
}
/*_____________________________________Animations, Transitions & hover behavior
==============================================================================*/
.skill:hover,
.state:hover,
.trouble:hover,
.gear:hover,
.rule:hover,
.chara:hover,
.kitchen:hover,
#pillbox:hover h2,
#pillbox_l:hover h2,
#pillbox_r:hover h2{
  text-shadow: 0px 0px 1px white, 0px 0px 20px rgba(250,250,250, 0.6);
  transition:.2s;
}



/*Wide*/
@media screen and (min-width: 768px) {
  @keyframes slide {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 74px 0; /*Slide vers la droite */
    }
  }
  @keyframes sliderev {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -74px 0; /*Slide vers la droite */
    }
  }

  #N1 { /* modificateur Valeur -3*/
    background-image: url(https://i.imgur.com/KqGQvnR.png);
    background-position: 0px 0px;
    animation: sliderev 2s linear infinite;
  }

  #N2{  /* modificateur Valeur -2*/
    background-image: url(https://i.imgur.com/7WwmbQF.png);
    background-position: 0px 0px;
    animation: sliderev 4s linear infinite;
  }
  #N3 {  /* modificateur Valeur -1*/
    background-image: url(https://i.imgur.com/NbMGaWh.png);
    background-position: 0px 0px;
    animation: sliderev 10s linear infinite;
  }
  #N4 {  /* modificateur Valeur 0*/
    background-image: url(https://i.imgur.com/Y787U6p.png);
    animation-name: slide;
    background-position: 0px 0px;
    animation: slide 30s linear infinite;
  }
  #N5 {  /* modificateur Valeur 1*/
    background-image: url(https://i.imgur.com/GgtBhUI.png);
    animation-name: slide;
    background-position: 0px 0px;
    animation: slide 10s linear infinite;
  }
  #N6 {  /* modificateur Valeur 2*/
    background-image: url(https://i.imgur.com/whp4K4f.png);
    animation-name: slide;
    background-position: 0px 0px;
    animation: slide 4s linear infinite;
  }
  #N7 {  /* modificateur Valeur 3*/
    background-image: url(https://i.imgur.com/o5ppCBo.png);
    animation-name: slide;
    background-position: 0px 0px;
    animation: slide 2s infinite linear ;
  }


}

/*mobile*/
@media screen and (max-width: 768px) {



}

/*==============================================================================Tooltipythingy===========*/
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #2C2C2C;
  color: #c2c2c2;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}